h1 {
    text-align: right;
    width: 50%;
    font-weight: 400;
    text-decoration: #f78120 underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    /* font-family: Avant Garde, Futura, sans-serif; */
    font-family: monospace;
}

p {
    text-align: right;
    /* font-weight: bold; */
    line-height: 2;
}

a {
    text-decoration: none;
}
